@model FinalProject.Models.HomeViewModel

<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="~/Styles/Home.css" rel="stylesheet" />
        <title>Final Project</title>
    </head>

    <body>
        <script src="~/Scripts/jquery-2.1.1.min.js"></script>
        <script src="~/Scripts/jquery-ui.min.js"></script>
        <script src="~/Scripts/Home.js"></script>
        
        <div class="home">

            <div>
                <h2>Welcome to Cuyahoga Community College Student Services Online</h2>
            </div>

            <em> Cuyahoga Community College recognizes students' rights to access personal and academic records in accordance with the Family Education Rights and Privacy Act of 1974 (FERPA) as amended by Public Law 93-568</em><br><br>

            <div class="border">
                <h2>Login</h2>

                <form method="POST" action="">
                    <label for="Name">Username</label>
                    <input type="text" name="username" class="name"><br><br>
                    <label for="Password">Password</label>
                    <input type="text" name="password" class="password"><br><br>
                    <button type="submit" class="btn">Login</button>
                </form>

                <hr>


                <h2>Create New Account</h2>

                <form method="POST" action="">
                    <label for="Name">Username</label>
                    <input type="text" name="username" class="name"><br><br>
                    <label for="Password">Password</label>
                    <input type="text" name="password" class="password"><br><br>
                    <label for="E-mail">E-Mail Address</label>
                    <input type="text" name="email" class="mail"><br><br>
                    <label for="Repeat E-mail">Repeat E-Mail Address</label>
                    <input type="text" name="repeatEmail" class="mail"><br><br>
                    <button type="submit" class="btn">Create Account</button>
                </form>
            </div>


            <!-- FOOTER BEGIN -->
            <div>
                <p>
                    Cuyahoga Community College<br>
                    700 Carnegie Avenue, Cleveland, Ohio 44115
                </p>
            </div>
            <!--FOOTER END -->

        </div>
    </body>

</html>