span{
	color: brown;
	font-family: 'courier';
	font-weight: bold;
	font-size: 4em;
}

h2{
	color: #006400;
}

h3,p{
	color: #FF0000;
	font-weight: bold;
}

h4{
	color: #A0522D;
	font-weight: bold;
}

a{
	font-size: 20px;
}

h5{
	font-weight: bold;

}



	

	



